= form_for @visit do |f|
  - if @visit.errors.any?
    #error_explanation
      %h2= "#{pluralize(@visit.errors.count, "error")} prohibited this visit from being saved:"
      %ul
        - @visit.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :audirt_code
    = f.number_field :audirt_code
  .field
    = f.label :num_visit
    = f.number_field :num_visit
  .actions
    = f.submit 'Save'
